[mysqld]
default_authentication_plugin=mysql_native_password
# slow query log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 0
# 接続数上限
max_connections = 1000
# InnoDB Buffer Poolを増加
innodb_buffer_pool_size = 1073741824 # 1GB
innodb_flush_method = O_DIRECT # OSのディスクキャッシュを防いでInnoDB Buffer Poolと2重キャッシュにならないようにする
# 更新データをREDOログ書いてディスクにフラッシュする挙動を指定
innodb_flush_log_at_trx_commit = 2
# バイナリログを無効化
disable-log-bin = 1
